.ls-0-22 {
    letter-spacing: 0.22px;
}

.ls-0-24 {
    letter-spacing: 0.24px;
}

.ls-0-26 {
    letter-spacing: 0.26px;
}

.ls-0-32 {
    letter-spacing: 0.32px;
}

.ls-0-38 {
    letter-spacing: 0.38px;
}

.ls-0-4 {
    letter-spacing: 0.4px;
}

.ls-0-58 {
    letter-spacing: 0.58px;
}

.ls-0-77 {
    letter-spacing: 0.77px;
}