@media only screen and (max-width: 1000px) {
    .header {
        width: 90%;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1920px) {
    .how-does {
        width: 880px;
    }
}

@media only screen and (max-width: 768px) {
    .display-at-768 {
        display: block;
        height: 24px;
        width: 100%;
        background-color: #F8FAFF;
    }

    .header {
        position: relative;
        background-color: #F5F7FF;
        width: 100%;
        padding: 0 6.67%;
    }

    .header img {
        width: 19.24%;
    }

    .menu-btn {
        display: block;
    }

    .nav {
        position: absolute;
        flex-direction: column;
        border: 1px solid #f0f0f0;
        box-shadow: 0px 0px 8px #f0f0f0;
        width: 70%;
        border-radius: 12px;
        padding: 20px 0;
        right: 0;
        background-color: white;
        display: none;
    }

    .nav > div {
        margin: 15px auto;
    }

    .how-does {
        margin-top: 80px;
    }

    .how-does-flex {
        flex-direction: column;
    }

    .how-does-flex > div {
        margin: auto auto;
        width: 79.02%;
    }

    .find-safe {
        background-image: url("../svg/find-safe-mobile.svg");
        padding: 40px 0 312px;
        background-position: bottom;
    }

    .find-safe-literature {
        margin: 0 auto;
        width: 86.67%;
    }

    .find-safe-literature * {
        text-align: center;
    }

    .find-safe-literature h1 {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.4px;
    }

    .find-safe .btn {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .m-t-20-at-768 {
        margin-top: 20px !important;
        font-size: 14px;
    }

    .what-is {
        margin-top: 80px;
        width: 86.67%;
        margin: 80px auto;
    }

    .what-is h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .what-is > p {
        margin-bottom: 0;
        width: 100%;
        font-weight: 500;
    }

    .what-is > .flex {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .what-is .flex {
        width: 100%;
    }

    .what-is > .flex h2 {
        font-size: 16px;
    }

    .what-is > .flex p {
        font-size: 14px;
    }

    .what-is > .flex > .flex {
        margin-top: 40px;
    }

    .what-is > .flex img {
        width: 60px;
    }

    .what-is .m-l-24 {
        margin-left: 16px;
    }

    .what-is .m-l-20 {
        margin-left: 16px;
    }

    .what-is .m-l-28-44 {
        margin-left: 16px;
    }

    .what-is .m-l-19-58 {
        margin-left: 16px;
    }

    .what-is .m-l-12 {
        margin-left: 0;
    }

    .find-right h1 {
        font-size: 20px;
    }

    .find-right > p {
        font-size: 14px;
        letter-spacing: 0.22px;
    }

    .find-right > p:first-of-type {
        width: 86.66%;
        text-align: left;
        font-weight: 500;
        letter-spacing: 0.22px;
    }

    .hide-at-768 {
        display: none;
    }

    .find-right > .flex {
        display: flex;
        width: 86.66%;
        margin: auto;
        height: auto;
        background-color: transparent;
    }

    .find-right > p:last-of-type {
        margin-top: 20px;
    }

    .how-does {
        width: 86.66%;
        margin-bottom: 80px;
    }

    .together-svg {
        width: 97.36%;
        margin-bottom: 40px;
    }

    .how-does h1 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .how-does .w-50-cent {
        width: 100%;
    }

    .how-does > .flex > .w-50-cent .align-items-center {
        align-items: flex-start;
    }

    .create-account-line {
        display: none;
    }

    .create-account-long-line, .share-small-line {
        display: block;
        margin-top: -16px;
    }

    .join-line {
        margin-top: 0;
    }

    .share-line {
        display: none;
    }

    .share-small-line {
        display: block;
        margin-top: -5px;
    }

    .what-makes-unique {
        padding: 0;
        width: 86.66%;
        margin: auto;
    }

    .what-makes-unique > h1 {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
    }

    .what-makes-unique > .flex h1 {
        margin: 0;
    }

    .what-makes-unique img {
        margin: 20px auto;
    }

    .rmin {
        flex-direction: column;
        width: 100%;
    }

    .rmin > div {
        margin: auto auto;
        width: 79.02%;
    }

    .rmin > div > div:first-child {
        height: 140px;
    }

    .community-img {
        margin-top: 80px;
    }

    .dont-struggle {
        padding-bottom: 40px;
    }

    .dont-struggle h1 {
        font-size: 16px;
        letter-spacing: 0.26px;
    }

    .dont-struggle p {
        margin-top: 16px;
        margin-bottom: 34px;
    }

    .footer {
        display: none;
    }
}