body {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.card {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    width: 12%;
    min-width: 150px;
    text-align: center;
    color: #333333;
    font-size: larger;
}

.card:hover {
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    border-color: #29323c;
}

.semester-section {
}

.footer {
    position: absolute;
    bottom: 20px;
}