* {
    letter-spacing: 0.02em;
}

body {
    background-image: url("../jpg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
}

header h1 {
    color: #ffffff;
}

.semester-section {
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    border: 2px solid rgba(255, 236, 237, 0.5);
    box-sizing: border-box;
    padding: 20px 20px;
    margin: 0px;
    width: 15%;
    min-width: 150px;
    text-align: center;
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    background: #FF416C;
    /*fallbackforoldbrowsers*/
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
    transition: all 0.5s ease;
    -webkit-transition: all 0.s ease;
    -moz-transition: all 0.s ease;
    -ms-transition: all 0.s ease;
    -o-transition: all 0.s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card * {
    font-family: 'Syne Mono', monospace;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.1em;
}

.card:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.footer {
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(45deg, #ff9472, #d4fc79, #f2709c, #96e6a1);
    margin: 0;
    padding: 10px 0 15px;
}

.footer img {
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.footer:hover img {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
    .card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}