body {
    background-image: url("../jpg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
}

header h1 {
    color: #ffffff;
}

.card {
    border: 2px solid #242824;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 20px;
    width: 12%;
    min-width: 150px;
    text-align: center;
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.footer {
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(45deg, #ff9472, #d4fc79, #f2709c, #96e6a1);
    margin: 0;
    padding: 10px 0 15px;
}

.footer img {
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.footer:hover img {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}