@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.header {
    padding: 20px 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(244, 67, 54, 0.2);
}

.cl-al-nb > div {
    width: 48%;
    word-wrap: break-word;
    max-height: 90vh;
    height: fit-content;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9); 
}

.cl-al-nb > div::-webkit-scrollbar {
    width: 4px;
}

.cl-al-nb > div::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
}

.cl-al-nb > div::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 80%;
}

.cl-al-nb li {
    margin-top: 7px;
}

.class-links, .attendance-links, .notice-board, .Books, .Important-msg   {
    border: 1px solid #2b2b2b;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 25px;
}

.notice-board {
    width: 100% !important;
}

.Books, .Important-msg {
    max-width: 48% !important;
}

.background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/semester 1/jpg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 50px;
}

.syllabus-btn {
    background-image: -webkit-linear-gradient(#cb2d3e,#ef473a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.syllabus {
    background-color: #282A35;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow-y: auto;
    max-height: 100vh;
    position: fixed;
}

.syllabus::-webkit-scrollbar {
    width: 12px;
}

.syllabus::-webkit-scrollbar-track {
    background-color: #282A35;
}

.syllabus > button {
    background-color: #e9e9ea;
    border-radius: 8px;
    border: 2px solid #b53f51;
    font-size: 20px;
    padding: 12px;
    position: fixed;
    right: 30px;
    top: 12px;
}

.syllabus > button * {
    color: #b53f51;
}

.syllabus-content > .flex > div {
    background-color: #282A35;
    margin: 20px 0;
}

.syllabus-content > .flex > div:first-of-type {
    width: 40%;
}

.syllabus-content > .flex > div:last-of-type {
    width: 60%;
    height: 100vh;
    overflow-y: auto;
    padding-right: 50px;
    box-sizing: border-box;
}

.syllabus-content > .flex > div:last-of-type::-webkit-scrollbar {
    width: 12px;
}

.syllabus-content > .flex > div:last-of-type::-webkit-scrollbar-track {
    background-color: #282A35;
}

.syllabus-content > .flex > div:last-of-type::-webkit-scrollbar-thumb {
    background-color: #b53f51;
    border-radius: 6px;
}

.syllabus-content > .flex > div > h1 {
    margin-top: 20vh;
    text-align: center;
    color: #e9e9ea;
    font-size: 52px;
}

.syllabus-content img {
    width: 98%;
    margin-right: 2%;
}

.no-overflow {
    overflow: hidden;
}

.footer {
    margin: 0;
    padding: 40px 0 50px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.time-table-btn {
    background-color: #3cdc39;
    color: #ebfbeb;
    padding: 16px 24px;
    font-size: 24px;
    border-radius: 0 20px 20px 0;
    top: 10vh;
    left: 0;
    display: block;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 8px RGBA(6,22,5,0.4);
    border: 4px solid #36c633;
    border-left: none;
    font-weight: bold;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.time-table {
    background-color: #051305;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    overflow-y: auto;
    max-height: 100vh;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.time-table::-webkit-scrollbar {
    width: 12px;
}

.time-table::-webkit-scrollbar-track {
    background-color: #051305;
}

.time-table::-webkit-scrollbar-thumb {
    background-color: #c63336;
    border-radius: 6px;
}

.time-table > button {
    background-color: #e9e9ea;
    border-radius: 8px;
    border: 2px solid #c63336;
    font-size: 20px;
    padding: 12px;
    position: fixed;
    right: 30px;
    top: 12px;
    z-index: 4;
}

.time-table > button * {
    color: #c63336;
}

.show {
    display: block;
}