* {
    text-align: justify;
}

p {
    font-weight: 500;
    font-size: 17px;
}

.scroll-bar {
    background-color: #fff;
    margin: 20px auto;
    width: 95%;
    height: calc(100vh - 94px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.scroll-bar::before, .scroll-bar::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 95%;
    height: 40;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-sizing: border-box;
}

.scroll-bar::before {
    top: 0;
    background: linear-gradient(to bottom, #fff 20%, transparent);
}

.scroll-bar::after {
    bottom: 0;
    background: linear-gradient(to top, #fff 20%, transparent);
}

.all-question-answer {
    overflow: auto;
    max-height: 100%;
    padding-right: 10px;
}

.all-question-answer::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.all-question-answer::-webkit-scrollbar-track {
    background-color: #152041;
    outline: 2px solid #152041;
    border-radius: 6px;
}

.all-question-answer::-webkit-scrollbar-thumb {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to bottom, #FFAFBD, #C9FFBF);
    background: linear-gradient(to bottom, #FFAFBD, #C9FFBF);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.question-answer {
    margin-top: 20px;
}

.question-answer:first-of-type {
    margin-top: 0;
}

.Ans {
    align-self: start;
}