.w-40 {
    width: 40px;
}

.w-400 {
    width: 400px;
}

.w-480 {
    width: 480px;
}

.w-725-74 {
    width: 725.74px;
}

.w-22-75-cent {
    width: 22.75%;
}

.w-36-89-cent {
    width: 36.89%;
}

.w-38-51-cent {
    width: 38.51%;
}

.w-41-cent {
    width: 41%;
}

.w-41-26-cent {
    width: 41.26%;
}

.w-43-12-cent {
    width: 43.12%;
}

.w-45-2-cent {
    width: 45.20%;
}

.w-45-45-cent {
    width: 45.45%;
}

.w-45-83-cent {
    width: 45.83%;
}

.w-46-12-cent {
    width: 46.12%;
}

.w-46-60-cent {
    width: 46.60%;
}

.w-47-73-cent {
    width: 47.73%;
}

.w-50-cent {
    width: 50%;
}

.w-55-12-cent {
    width: 55.12%;
}

.w-58-25-cent {
    width: 58.25%;
}

.w-65-78-cent {
    width: 65.78%
}

.w-66-58-cent {
    width: 66.58%;
}

.w-67-2-cent {
    width: 67.2%;
}

.w-71-875-cent {
    width: 71.875%;
}

.w-74-07-cent {
    width: 74.07%;
}

.w-77-62-cent {
    width: 77.62%;
}

.w-86-67-cent {
    width: 86.67%;
}

.w-90-cent {
    width: 90%;
}

.w-95-cent {
    width: 95%;
}

.w-93-75-cent {
    width: 93.75%;
}

.w-100-cent {
    width: 100%;
}